@charset"utf-8";
/*사이트 css - main.css/*

/*공통외부css*/
@import url(core.css);
@import url(reset.css);
@import url(grid_bg.css);
@import url(grid_set.css);

/*각 영역별 셋팅*/

/*//////////////////////1 상단 영역/////////////////*/
.t1 {
    height: 82px;
}

.top {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 100000;
    border-bottom: 1px solid #ccc;

}

/*1-1.로고*/
#logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

}

.txtban {
    position: relative;
    overflow: hidden;
}

#txtban {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
}

#txtban li {
    width: 33.333%;
    height: 100%;
    text-align: center;
    line-height: 32px;
    font-size: 24px;
}

/*로고 이미지*/
#logo img {
    max-width: 100%;
}

/*1-2 gnb 큰 메뉴*/
.gnb {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}

.gnb li {
    font-size: 18px;
    font-weight: bold;
}

/*메뉴사이 선 가상요소 만들기*/
.gnb li + li::before {
    content: "|";
    margin-right: 25px;
    margin-left: 25px;
    color: #e5e5e5;
}


/*1-3 검색 표시*/
#magni {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 670px;

    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: url(../img/btn-msearch.png);
    overflow: hidden/cover;
    border: 0;
}


/*1-4 햄버거 사이트 메뉴*/
#ham {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 720px;
    width: 50px;
    height: 50px;
    background: transparent url(../img/btn-sitmap.png) no-repeat center;
    border: 0;
}

/*검색 햄버거 포커스 아웃라인 없에기*/
#magni:focus,
#ham:focus {
    outline: none;
}

/*gnb 작은 메뉴*/
.gnb2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
}

.gnb2 li {
    font-size: 14px;
}

/*비즈니스 글자색 변경*/
.gnb2 li:first-child a {
    color: #3598db;
}

/*메뉴사이 선 가상요소 만들기*/
.gnb2 li + li::before {
    content: "|";
    margin-right: 14px;
    margin-left: 14px;
    color: #e5e5e5;
}

/*//////////////2.베너 영역///////////////////*/

/*2-1 베너*/
.ban {
    border-bottom: 1px solid #ccc;
}


.b1 {
    height: 36px;
}

/*2-2베너 2번 라인*/
.b2 {
    padding-top: 40px;
    /* height: 253px;*/
}

.b2bx {
    width: 700px;
    margin: 0 auto;
}

#strt {
    position: relative;
    padding-left: 30px;
    padding-bottom: 7px;
    ;

}

#bname {
    color: #017aff;
}

#bname::before {
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: -5px;

    width: 30px;
    height: 30px;
    background: url(../img/%EC%9C%84%EC%B9%98.png) no-repeat 100% 100%;
}

/*2-3검색 박스*/
#schbx {
    display: inline-block;
    border: 4px solid #017aff;
    width: 520px;
    height: 70px;
    vertical-align: top;
    border-radius: 10px;
    overflow: hidden;
}

#sctxt {
    top: 50px;
    width: 435px;
    height: 52px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 0;
    font-size: 20px;
    font-weight: 300;
    border: none;
    outline: 0;

}

#scicbl {
    float: right;
    height: 50px;
    width: 45px;
    padding-left: 0;
    margin-top: 10px;
    margin-right: 20px;
    background: url(../img/%EB%8F%8B%EB%B3%B4%EA%B8%B0.png) no-repeat 50% 50%;
    border: none;
}

.schbxbtn {
    display: inline-block;
    width: 44px;
    height: 45px;
    padding: 13px;
    margin-left: 10px;
    background-color: #017aff;
    border-radius: 10px;

    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

#htg {
    margin: 15px 0 0 10px;
    font-size: 15px;
}

#htg li {

    margin-right: 20px;
}

mb2 {
    height: 100px;
    margin-top: 15px;
}

mb2 > img {
    width: 682px;
    height: 100%;
}

.b3 {
    position: relative;
    height: 252px;
    overflow: hidden;
}

/*링크*/
.icn li {
    position: absolute;
    bottom: -100px;
    width: 216px;
    height: 250px;

    text-align: center;
    border-radius: 10px 10px 0 0;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
    transition: bottom .5s ease-in-out;
}

.icn li:hover {
    bottom: 0;
}

.icn1 {
    left: 0;
    background-color: #7292ed;
}

.icn2 {
    left: 25%;
    transform: translateX(-25%);
    background-color: #5cacf9;
}

.icn3 {
    left: 50%;
    transform: translateX(-50%);
    background-color: #01a8ff;
}

.icn4 {
    right: 25%;
    transform: translateX(25%);
    background-color: #06b7dd;
}

.icn5 {
    right: 0;
    background-color: #01c9b4;
}

.icnname {
    display: block;
    position: relative;
    font-size: 20px;
    padding-top: 47px;
    font-weight: bolder;
    color: #fff;
}

.icnname::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 32px;
    height: 2px;
    background-color: #fff;
}

.icn p {
    font-size: 15px;
    padding-top: 10px;
    font-weight: 300;
    color: #fff;
}

.split {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
    height: 140px;
    opacity: 0;
    background: url(../img/bg-catagory.png) no-repeat;
    transition: opacity .5s;

}

.icn2 .split {
    background-position: 0 -140px;
}

.icn3 .split {
    background-position: 0 -280px;
}

.icn4 .split {
    background-position: 0 -420px;
}

.icn5 .split {
    background-position: 0 -560px;
}

.icn li:hover .split {
    opacity: 1;

}

/*////////////////////////////3. 컨텐츠///////////////////////////////////////*/
/*게시판 인기검색어*/
.c1 {
    padding: 60px 0;
}

/*질문 게시판*/
.gsp {
    position: relative;
    padding: 40px;
    width: 520px;
    height: 229px;
    border: 1px solid #ddd;

}

/*바로가기 십자가모양*/
.gspicn {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 30px;
    height: 30px;
    background: url(../img/bg-m-more.png) no-repeat;

}

#gspt {
    font-size: 20px;
    font-weight: 600;
}

.gspul {
    padding-top: 20px;
}

.gspul div {
    position: relative;
    width: 537px;
}

.gspul li {
    clear: both;


}

.gspul li a div {
    padding-left: 30px;
    padding-top: 1px;
    height: 30px;
}

/*게시판 소재목?*/
.gsptit {
    width: 380px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
}

/*앞에 이미지*/
.gsptit::before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 4px;

    width: 30px;
    height: 30px;
    background: url(../img/bg-m-q.png) no-repeat;

}

/*날짜*/
.skfwk {
    position: absolute;
    top: 3px;
    right: 45px;
    color: #999;
    font-weight: 500;
}

/*내용*/
.gsptxt {
    color: #666;
    line-height: 30px;

}

/*내용앞 이미지*/
.gsptxt::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;

    width: 30px;
    height: 30px;
    background: url(../img/bg-m-q2.png) no-repeat;


}


/*스팸*/
.spmg {
    position: relative;
    padding: 40px 30px;
    width: 230px;
    height: 229px;
    border: 1px solid #ddd;
}


.spmul {
    padding-top: 20px;
}



.spmul li {
    clear: both;
    font-size: 16px;
    padding-top: 15px;
    font-weight: 500;
}

.spmul a div {
    width: 230px;
}


/*번호*/
.spms1 {
    display: inline-block;
    width: 130px;
    color: #666;

}

/*번호 주인?*/
.spms2 {
    display: inline-block;
    width: 90px;
    color: #cc0033;
    text-align: right;
}

/*인기검색*/
.bstsc {
    position: relative;
    margin-left: 19px;
    padding: 40px;
    width: 199px;
    height: 229px;
    border: 1px solid #ddd;
}

/*화살표 박스*/
.btbox {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 0;
}

/*버튼*/
.btbt {
    display: inline-block;
    width: 27px;
    height: 27px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/*왼쪽 버튼*/
.bt-prev {
    background: url(../img/bg-m-left.png) no-repeat;
}

/*오른쪽 버튼*/
.bt-next {
    background: url(../img/bg-m-right.png) no-repeat;
}

.rts {
    position: relative;
    width: 100%;
    height: 100%;
    /*outline: 1px solid red;*/
    overflow: hidden;
}

.rtsbox {
    position: absolute;
    width: 100%;
    height: 100%;
}

.rtsbox ul {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .6s;
}

.rtsbox ul.on {
    opacity: 1;
}

.rtsbox ul li {
    line-height: 2.8;
    padding-left: 20px;
}

.cnBox{
    position: relative;
    height: 245px;
    overflow: hidden;
   /* outline: 1px solid red;*/
    
}

.c2p{
    position: absolute;
    top: 0;
    right: 60px;
    font-size: 14px;
    flex-wrap: bold;
    color: #666;
}

.c2pc{
    color: #017aff;
    font-size: 20px;
}


.cnSlide{
    position: relative;
    left: 0;
    width: 300%;
    height: 100%;
}
.cnSlide ul{
    width: 33.333%;
    height: 100%;
    float: left;
}
.cnSlide li{
    position: relative;
    width: 25%;
    height: 100%;
    text-align: center;
    line-height: 200px;
   /* outline: 1px dotted navy;*/
}


/*////등록된 곳//////*/

.cnimg{
    position: absolute;
    width: 200px;
    height: 180px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/main_noimg.jpg);
        font-size: 0;
}



.cntit{
    position: absolute;
    /*부모 .cnSlide li*/
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
}



.cncnt{
    position: absolute;
   
    width: 190px;
    height: 30px;
    top: 50%;
    left: 50%;
   /* text-align: left;*/
    transform: translateX(-50%);
    font-size: 14px;
    
}




.cntxt2{
    position: relative;
   padding-left: 21px;
    width: 100%;
    height: 100%;
}


.cntxt2::before{
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    left: 0px;

    width: 18px;
    height: 18px;
    background: url(../img/%EC%9C%84%EC%B9%98.png) no-repeat center/90%;
    
}

/*////////////////////////하단 컨탠츠///////////////////*/




.footcont {
    background-color: #f5f5f5;

    padding-top: 60px;
    padding-bottom: 60px;
}

/*새롭게 등록된곳, 비즈니스 등록*/
.c2 {
    height: 295px;
}


/*새롭게 등록*/
.fc1{
    position: relative;
}


.c2h2{
    font-size: 20px;
}

.c2p{
    
}

/*버튼*/
.btbtbox{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
}







/*등록*/
.bush2 {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
    width: 250px;
    height: 220px;

    text-align: center;
    background: url(../img/bg-m1.png) no-repeat bottom;
}

/*등록 타이틀*/
.butit2 {
    line-height: 1;
    font-size: 22px;
}

.butxt2 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    color: #666;
}


/*데이터,광고 센터*/


.c3 {

    margin-top: 60px;
    padding: 10px;
    height: 117px;

    box-sizing: border-box;
}

.fcbox {
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
}

.fc3 {
    position: relative;
    padding-left: 175px;
    width: 50%;
    height: 97px;
    float: left;
    box-sizing: border-box;

}



.fc3txt {
    padding-top: 15px;
    height: 21px;
    font-size: 18px;
    color: #999;
    font-weight: 300;
}

.fc3tit {
    display: inline-block;
    padding-top: 10px;
    padding-right: 55px;
    font-size: 24px;
    font-weight: 500;
    background: url(../img/bg-m-go.png) no-repeat 100% 75%;
}




.fc3cnt1::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 35px;

    width: 175px;
    height: 97px;
    background: url(../img/bg-m2.png) no-repeat;

}

.fc3cnt1::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -2px;
    width: .5px;
    height: 97px;
    background-color: #ddd;
}


.fc3cnt2::before {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 45px;

    width: 175px;
    height: 97px;
    background: url(../img/bg-m3.png) no-repeat;
}


/*새로운 소식*/
.c4 {
    margin-top: 30px;
}


#c4 {
   
    line-height: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 81px;
    background-color: #ebebeb;
    box-sizing: border-box;
    
}

.c412{
     position: relative;
     float: left;
     height: 21px;
    padding: 30px 60px;
}


.c4-1 {
    
    width: 270px;
    font-size: 20px;
   
   
}


.c4-1::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left:  390px;
    transform: translateY(-50%);
    
    width: .5px;
    height: 21px;
    background-color: #aaaaaa;
}


.c4-2a {
    margin-left: 60px;
   font-size: 18px;
    color: #666;
    
}

.c4-2a::before{
    content: "공지";
    display: block;
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    
    font-size: 12px;
    padding: 0 5px;
    color: #fff;
    background-color: #017aff;
    border: 4px solid #017aff;
    border-radius: 10px 10px 0 10px;
    
    
    
}



.c4day{
    font-size: 16px;
    margin-left: 260px;
}

/*/////////////////////하단 영역////////////////////////////*/
.info{
    position: relative;
}

.info::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 60px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    
    
}

/*첫줄 높이*/
.i1{
    height: 60px;
    padding: 0;
}


/*정보링크*/
.link{
    margin-top: 20px;
    margin-bottom: 20px;
   
}

.link li{
    font-size: 16px;
 
}

.link li a{
     color: #666;
 
}

.link li a.em{
     color: #017aff;
 
}

.link li+li::before{
    content: "|";
    padding: 0 35px;
}


/*패밀리사이트 링크박스*/
#fslink {
    width: 150px;
    height: 35px;
    font-size: 14px;
    color: #999;
    border: 1px solid #d7d7d7;
    padding: 0 10px;
    transform: translate(-25px, 5px);
    /*다른요소에 영향없이 현재위치에서 살짝위치조정!*/
    border-radius: 10px;
    margin-top: 8px;
    margin-left: -30px;
}


/*주소영역*/
.i2{
    height: 150px;
}

.addr{
    display: inline-block;
    width: 910px;
    padding-top: 20px;
    font: bold 14px NotoSansKR;
    color: #666;
    line-height: 25px;
}

.addr span{
    margin: 0 20px;
}

/*카피라이터*/
.copy{
    display: block;
    font-family: NotoSansKR;
    letter-spacing: 0;
    line-height: 25px;
}



/*sns링크*/

.snsico li{
    margin-right: 4px;
    width: 38px;
    height: 38px;
    border: 1px solid #666;
    border-radius: 50%;
    
    background: url(../img/bg-sns.png) no-repeat;
}

.snsico li:nth-child(2){/*인스타*/
     background-position:-46px 0;
}
.snsico li:nth-child(3){/*네이버*/
     background-position:-93px 0;
}
.snsico li:nth-child(4){/*유튜브*/
     background-position:-139px 0;
}










